{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="contact-box row">
      <form method="POST" action="{{ .Site.Params.contact_form_action | safeURL }}">
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input name="user_email" type="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="Subject">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Your Message"></textarea>
            </div>
            <div class="form-group-2">
              <input type="checkbox" style="margin: 7px;" required><label> I accept the <a href="/gdpr_policy" target="_blank">Privacy Policy</a> and consent to processing of my personal data.</label>
              <input type="text" name="_gotcha" style="display:none" />
              <input type="hidden" name="g-recaptcha-response" value="">
            </div>
            <button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <!-- Block with address and map -->  <div class="contact-box row">
     <!-- Block with address -->  <div class="col-md-6 col-sm-12">
         <div class="block">
          <h2>{{ i18n "address_title" }}</h2>
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}}: {{ .Site.Params.location }}</li>
            <li><i class="ion-ios-email-outline"></i>{{i18n "email"}}: {{ .Site.Params.email }}</li>
          </ul>
          <ul class="social-icons">
            {{ range .Site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if .Site.Params.gmap.enable }}
      <!-- Block with map -->  <div class="col-md-6 col-sm-12">
        <div class="block">
          <!-- <div class="google-map">
            <div class="map" id="map_canvas" data-latitude="{{ .Site.Params.gmap.map_latitude }}" data-longitude="{{ .Site.Params.gmap.map_longitude }}" data-marker="{{ .Site.Params.gmap.map_marker | relURL }}"></div>
          </div> -->
        </div>
      </div>
      {{ end }}
    </div>
    <hr>
    <!-- Block with legal info --> <div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block"> 
        <h2>{{ i18n "legal_title" }}</h2>
          <ul class="address-block"> 
            <li>{{i18n "president"}}: {{ .Site.Params.president }}</li>
            <li>{{i18n "vice"}}: {{ .Site.Params.vice }}</li>
            <li><i class="ion-information"></i>{{i18n "nip"}}: {{ .Site.Params.nip }}</li>
            <li><i class="ion-information"></i>{{i18n "krs"}}: {{ .Site.Params.krs }}</li>
            <li><i class="ion-information"></i>{{i18n "regon"}}: {{ .Site.Params.regon }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block"> 
          <h2>{{ i18n "account_title" }}</h2>
            <ul class="address-block"> 
              <li>{{i18n "account_name"}}: {{ .Site.Params.account_name }}</li>
              <li>{{i18n "account_swift"}}: {{ .Site.Params.account_swift }}</li>
              <li><i class="ion-cash"></i>{{i18n "account_eur"}}: {{ .Site.Params.account_eur }}</li>
              <li><i class="ion-cash"></i>{{i18n "account_pln"}}: {{ .Site.Params.account_pln }}</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</section>

{{ end }}