{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 45px;">
                <a href="/galleries/ngschool2019">
                    <h1 style="text-align: center; margin: 0; padding: 0;"><b>NGSchool2019</b></h1>
                    <img class="img-responsive w-100" src="../images/ngschool/2019-010.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 45px;">
                <a href="/galleries/ngschool2018">
                    <h1 style="text-align: center; margin: 0; padding: 0;"><b>NGSchool2018</b></h1>
                    <img class="img-responsive w-100" src="../images/ngschool/2018-002.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 45px;">
                <a href="/galleries/ngschool2017">
                    <h1 style="text-align: center; margin: 0; padding: 0;"><b>NGSchool2017</b></h1>
                    <img class="img-responsive w-100" src="../images/ngschool/2017-003.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6" style="margin-bottom: 45px;">
                <a href="/galleries/ngschool2016">
                    <h1 style="text-align: center; margin: 0; padding: 0;"><b>NGSchool2016</b></h1>
                    <img class="img-responsive w-100" src="../images/ngschool/2016-007.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>


{{ end }}