{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
    <div class="container"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="project-content mt-50">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .gallery {
        max-width: 80%;
        width: 80%;
    }
    .gallery > .box{
        width: 25%;
        padding-bottom: 25%;
    }
    @media (max-width: 1200px) {
        .gallery > .box{
            width: 50%;
            padding-bottom: 33%;
        }
    }
    @media (max-width: 768px) {
        .gallery > .box{
            width: 100%;
            padding-bottom: 60%;
        }
    }
    .project-content {
        padding-left: 15%;
    }
    .pswp__caption__center {
        text-align: center;
    }
</style>

{{ end }}