{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size: 2em; line-height: 2.1em;">
                    {{i18n "account_name"}}: {{ .Site.Params.account_name }}<br>
                    {{i18n "account_swift"}}: {{ .Site.Params.account_swift }}<br>
                    <i class="ion-cash" style="margin: 0 15px;"></i>{{i18n "account_eur"}}: {{ .Site.Params.account_eur }}<br>
                    <i class="ion-cash" style="margin: 0 15px;"></i>{{i18n "account_pln"}}: {{ .Site.Params.account_pln }}
                </p>
            </div>
        </div>
    </div>
</section>

{{ end }}
