{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<div class="container">
    <div class="row">
        <div class="col">
            <section class="portfolio-single-page section-sm">
                <table class="table table-bordered text-center">
                    <tr>
                        {{ range .Params.Information }}
                            <td>{{ .label }}</td>
                        {{ end }}
                    </tr>
                    <tr>
                        {{ range .Params.Information }}
                            <td><b>{{ .info | markdownify }}</b></td>
                        {{ end }}
                    </tr>
                </table>
            </section>

            <section class="portfolio-single-page section-sm">
                <div style="max-width: 880px; margin: 0 auto;">
                    <p style="font-size: 1.5em; text-align: center;">
                        Welcome to <b>NGSchool2025: Sequencing Toolbox for Computational Biologists</b>, the 7<sup>th</sup> edition of our renowned summer school series!
                    </p>
                    <p style="font-size: 1.5em; text-align: center;">
                        This year's program is dedicated to equipping students, early-career scientists, and professionals with cutting-edge skills in sequencing technologies and their applications in computational biology, bioinformatics, and biomedicine.
                    </p>
                </div>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">About NGSchool2025</h2>
                <p>
                    Sequencing technologies have revolutionized the biological sciences, allowing researchers to gain unprecedented insights into the genetic and molecular underpinnings of life. With the rise of next-generation sequencing (NGS) and long-read sequencing technologies, scientists can now uncover complex genetic variations, structural rearrangements, and epigenetic modifications that were previously undetectable. These advancements are transforming fields like personalized medicine, agriculture, and environmental science, with far-reaching implications for global health and sustainability.
                </p>
                <p>
                    At NGSchool2025, you'll have the chance to learn from experts in the field, engage in hands-on workshops, and collaborate with like-minded peers from around the world. Our program is tailored to the educational needs of  participants from the Visegrád Four (V4) and Central and Eastern Europe (CEE) regions but welcomes aspiring computational biologists and bioinformaticians from all backgrounds.
                </p>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Key Topics</h2>
                <p>
                    Our curriculum covers a wide array of topics, ranging from fundamental sequencing techniques to advanced computational approaches. Here's a sneak peek at what to expect:
                </p>
                <ul>
                    <li>
                        <b>Base Modifications & Long-Read Sequencing Workshop</b><br>
                        Delve into cutting-edge long-read technologies like Nanopore sequencing, explore how base modifications impact genome architecture, and discover the latest analysis methods.
                    </li>
                    <li>
                        <b>De-Novo Transcript Discovery & Algorithmics</b><br>
                        Learn how to assemble and annotate transcriptomes from scratch using state-of-the-art algorithms for long-read sequencing data.
                    </li>
                    <li>
                        <b>Genomic Architecture & Structural Variations</b><br>
                        Understand the role of large-scale genomic rearrangements in shaping species diversity and their implications for human disease.
                    </li>
                    <li>
                        <b>CRISPR Experimental Design & Analysis</b><br>
                        Explore the transformative potential of CRISPR-Cas systems for genome editing, and gain hands-on experience designing experiments and analyzing CRISPR data.
                    </li>
                    <li>
                        <b>Immunology: TCR/BCR Sequencing</b><br>
                        Dive into immune system genetics with T-cell receptor (TCR) and B-cell receptor (BCR) sequencing, exploring their applications in immunology and disease.
                    </li>
                    <li>
                        <b>Metagenomics for Virus Diagnosis & Surveillance</b><br>
                        Investigate how metagenomics is being used for real-time virus detection and monitoring, with a special focus on diagnostic and epidemiological applications.
                    </li>
                    <li>
                        <b>Population Genomics</b><br>
                        Discover how population-scale genetic studies are reshaping our understanding of human evolution, adaptation, and diversity.
                    </li>
                    <li>
                        <b>Cancer Evolution</b><br>
                        Explore the genetic changes driving cancer progression and resistance, and learn how sequencing technologies are helping to chart the course of cancer evolution.
                    </li>
                    <li>
                        <b>Single-Cell RNA & Spatial Transcriptomics</b><br>
                        Gain insights into the rapidly advancing fields of single-cell sequencing and spatial transcriptomics, which allow researchers to map gene expression at unprecedented resolution.
                    </li>
                </ul>
                <p>
                    <b>
                        <i class="fa-solid fa-circle-exclamation"></i>
                        The curriculum is dependent on instructor availability and subject to change. The finalized curriculum and schedule will be available at a later date.
                    </b>
                </p>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Why Attend NGSchool2025?</h2>
                <ul>
                    <li>
                        <b>Hands-on Workshops</b>: Engage in interactive sessions with top sequencing technologies like Nanopore and Illumina, mastering the latest tools and techniques.
                    </li>
                    <li>
                        <b>Cutting-Edge Science</b>: Explore the frontiers of bioinformatics, genomics, and personalized medicine, with applications to real-world challenges such as cancer research and virus surveillance.
                    </li>
                    <li>
                        <b>Collaborative Environment</b>: Network with fellow participants, mentors, and industry professionals to build lasting connections in the computational biology community.
                    </li>
                    <li>
                        <b>Diverse Participants</b>: Join peers from the V4 and CEE regions, along with participants from across the globe, creating a dynamic, multicultural learning environment.
                    </li>
                    <li>
                        <b>Career Development</b>: Access soft-skills workshops, designed to help young researchers and scientists succeed in their academic and professional journeys.
                    </li>
                </ul>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Who Should Apply?</h2>
                <p>
                    We invite <b>students, PhD candidates, postdoctoral researchers, and early-career scientists</b> with a background and/or strong interest in <b>computational biology, bioinformatics, genomics, or biomedicine</b> to apply. Whether you're new to sequencing or looking to expand your skill set, NGSchool2025 provides the perfect platform to enhance your expertise and engage with the latest technologies shaping the future of science.
                </p>
                <p>
                    Participants from the <b>V4 and CEE regions</b> are particularly encouraged to apply, but we welcome applicants worldwide!
                </p>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">How to Apply?</h2>
                <p style="font-size: 1.5em;">
                    Applications for NGSchool2025 will open soon!
                </p>
                <p>
                    Stay tuned for detailed instructions on how to submit your application, including important dates, requirements, and selection criteria.
                </p>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Testimonials from Previous Participants</h2>
                <blockquote class="testimonial">
                    NGSchool is truly a one-of-a-kind experience. I gained hands-on experience with technologies that I only read about in papers, and the mentors were incredibly supportive. It was an amazing opportunity to network and collaborate with peers from around the world!
                    <div style="text-align: right;">- participant of NGSchool2019</div>
                </blockquote>
                <blockquote class="testimonial">
                    Attending NGSchool was a game-changer for my career in bioinformatics. The workshops were well-organized, and I learned so much in such a short time. Highly recommend for anyone looking to deepen their knowledge in sequencing and genomics!
                    <div style="text-align: right;">- participant of NGSchool2023</div>
                </blockquote>
            </section>

            <!-- <section class="portfolio-single-page section-sm">
                <h2 id="dates">Important dates</h2>
                TBA
            </section> -->

            <section class="portfolio-single-page section-sm">
                <p style="font-size: 2em; font-weight: bold; text-transform: uppercase; text-align: center;">
                    Join us this spring at NGSchool2025 and take your first steps toward shaping the future of genomics and computational biology!
                </p>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Registration</h2>
                <h3>Registration form</h3>
                <p>
                    The deadline to submit your application is <b>23.12.2024 at 23:59 UTC</b>. Selection results will be announced at the end of January. If you have any question or problems get in touch via email: <a href="mailto: info@ngschool.eu">info@ngschool.eu</a>.
                </p>
                <div class="d-flex justify-content-center mb-3">
                    <a href="https://ngsheet.ngschool.eu/" target="_blank" class="btn btn-success btn-lg btn-block d-flex justify-content-between align-items-center">
                        Registration form
                        <i class="fa-solid fa-play ms-3"></i>
                    </a>
                </div>

                <h3>Registration fee</h3>
                <p>
                    The registration fee for the selected participants is <b>180 EUR/820 PLN for academia</b> and <b>400 EUR/1840 PLN for industry</b>. This fully covers the costs of accommodation and boarding during the school. <br>
                    We try to make our events accessible and affordable for all and keep the registration fees to a minimum. However, we understand that in some circumstances covering the costs of participation in our event can still be challenging. We do not want money to be a limiting factor in anyone's participation, so we will provide financial support for several selected participants, primarily based on their socioeconomic status. We can offer two types of support:
                </p>
                <p>
                    <ul style="color: #7b7b7b">
                        <li>Travel grant to help you cover the cost of your travel to the event's venue.</li>
                        <li>Fee discount or waiver directed to those participants who cannot get the fee covered by their institutions.</li>
                    </ul>
                    <span style="color: #7b7b7b">
                        Both types of support will be preferentially grated to participants from academia (students, PhD candidates and faculty stuff), but application from industry will be considered, too. If you wish to be considered for travel grant, fee discount/waiver or both, make sure to fill the Bursary section of the application form, explaining your situation. We will try our best to help you.
                    </span>
                </p>
            </section>

            <section>
                <div class="alert alert-warning">
                    <h4 class="text-center">For participants applying from Russian institutions</h4>
                    <p>NGSchool condemns the aggression against Ukraine in the strongest possible terms and stands in solidarity with our colleagues in Ukraine. Since Russian Universities publicly supported the war we are unable to accept participants affiliated with those institutions. However, we note that many Russian academics, at great personal peril, have publicly criticized this invasion. We would like to support all those harmed by Putin's regime and therefore extend our invitation to Russian academics and students provided they will come as individuals, without affiliation. We will not be able to accept payments for registration fees from Russian universities and companies and will not be able to provide receipts to those organizations.</p>
                </div>
            </section>

            

            <!-- <section class="portfolio-single-page section-sm">
                <h2 id="dates">Program</h2>
                TBA
            </section> -->

            <!-- <section class="portfolio-single-page section-sm">
                <h2 id="dates">Venue</h2>
                TBA
            </section> -->

            

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Speakers and tutors</h2>
                TBA
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Sponsors and partners</h2>
                <div class="sponsor-list d-flex flex-wrap">
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://www.visegradfund.org/" target="_blank">
                            <img src="/images/sponsors/visegrad_fund.webp" alt="Visegrad Fund">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://www.iimcb.gov.pl/en/" target="blank">
                            <img src="/images/sponsors/iimcb.webp" alt="International Institute of Molecular and Cell Biology in Warsaw - IIMCB">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://fmph.uniba.sk/en/" target="_blank">
                            <img src="/images/sponsors/cub_fmpi.webp" alt="Faculty of Mathematics, Physics
                            and InformaticsComenius University Bratislava">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://www.alga.cz/en/" target="_blank">
                            <img src="/images/sponsors/algatech.webp" alt="ALGATECH - The Centre of Algal Biotechnology">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 sponsor-item">
                        <a href="http://www.imbg.org.ua/en/" target="blank">
                            <img src="/images/sponsors/IMBG.gif" alt="The Institute of Molecular Biology and Genetics of NASU">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://semmelweis.hu/bioinformatika/" target="blank">
                            <img src="/images/sponsors/Logo_univsemmelweis.svg" alt="Bioinformatika Tanszék
                            Semmelweis Egyetem, Általános Orvostudományi Kar">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://agruni.edu.ge/en/research/institutes/institute-of-microbial-biotechnology/?research=about-institute" target="blank">
                            <img src="/images/sponsors/agruni.webp" alt="Institute of Microbial Biotechnology at the Agricultural University of Georgia">
                        </a>
                    </div>
                    <div class="col-6 col-md-3 sponsor-item">
                        <a href="https://biologia.elte.hu/en/" target="blank">
                            <img src="/images/sponsors/elte_angol_fekvo_kek_logo.webp" alt="ELTE Institute of Biology">
                        </a>
                    </div>
                </div>
            </section>

            <section class="portfolio-single-page section-sm">
                <h2 id="dates">Organizers</h2>
                <ul>
                    <li><a href="/people/karolina-sienkiewicz" target="_blank">Karolina Sienkiewicz</a>, Weill Cornell Medicine, Cornell University, USA</li>
                    <li><a href="/people/szymon-grabia" target="_blank">Szymon Grabia</a>, Medical University of Lodz, Poland</li>
                    <li><a href="/people/marcin-kaszkowiak" target="_blank">Marcin Kaszkowiak</a>, Institute of Hematology and Blood Transfusion</li>
                    <li><a href="/people/zuzanna-nowicka" target="_blank">Zuzanna Nowicka</a>, Medical University of Lodz, Poland</li>
                    <li><a href="/people/diana-sharysh" target="_blank">Diana Sharysh</a>, Aarhus University, Denmark</li>
                    <li><a href="/people/wiktoria-wilman" target="_blank">Wiktoria Wilman</a>, NaturalAntibody S.A., Szczecin, Poland</li>
                    <li><a href="/people/gustav-lindwall" target="_blank">Gustav Lindwall</a>, Chalmers University of Technology, Sweden</li>
                    <li><a href="/people/vishma-pratap" target="_blank">Vishma Pratap Sur</a>, Algatech, MBU, Czech Academy of Sciences, Czech Republic</li>
                    <li><a href="/people/karolina-prazanowska" target="_blank">Karolina Prazanowska</a>, Ajou University School of Medicine, Suwon, Korea</li>
                    <li><a href="/people/akshay-j-ganesh" target="_blank">Akshay J Ganesh</a>, Institut d'Investigació Biomèdica de Bellvitge, Barcelona, Spain</li>
                    <li><a href="/people/soumajit-mukherjee" target="_blank">Soumajit Mukherjee</a>, Department of Infectious Diseases, King's College London, United Kingdom</li>
                    <li><a target="_blank">Elene Meskhi</a>, Rhenish Friedrich Wilhelm University of Bonn, Germany</li>
                    <li><a target="_blank">Srishti Patil</a></li>
                    <li><a target="_blank">Alison Díaz</a></li>
                </ul>
            </section>
            
            <section class="portfolio-single-page section-sm">
                <h2 id="dates">More information</h2>
                <p>
                    If you have any questions regarding NGSchool2025 please first refer to our <a href="/faq" target="_blank">FAQ page</a>. If you cannot find an answer to your question there or need further explanation, you can reach us using <a href="/contact" target="_blank">contact form</a> or our email address <a href="mailto: info@ngschool.eu">info@ngschool.eu</a>.
                </p>
            </section>
        </div>
    </div>
</div>

<style>
    .bg-2 {
        background-size: cover;
        background-position: 50% 59%;
    }
    .testimonial {
        border-radius: 8px;
        border: 1px solid #CECECE;
        padding: 30px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 1em;
        color: #747474;
        position: relative;
        z-index: 0;
    }
    .testimonial::before {
        content: '';
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
        background-image: url("/images/quote.svg");
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: -1;
        width: 98px;
        height: 73px;
    }
</style>

{{ end }}
