.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 35%;
  padding: 100px 0 100px 0;
  position: relative;
  background-color: #2b3e4b;
  background-blend-mode: overlay;


  .block {
    color: #E3E3E4;
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 70px;
      line-height: 60px;
      letter-spacing: 10px;
      padding-bottom: 15px;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    p {
      margin-bottom: 30px;
      color: #fff;
      font-size: 22px;
      line-height: 27px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
}

@media screen and (max-width: 766px) {
  .slider {
    h1 {
      font-size: 45px !important;
    }
  }
}